<!DOCTYPE HTML>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/client.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<% if(user) { %>
<b>User: </b> <label id="user"><%= user %></label> <a href="/logout" style='color:blue;text-decoration: underline'> Log
    out</a>
<% } %>
<div id="channel" class="bordered">
    <div id="msgs">
        <ul>
            <li class="message" style="display: none">
                <span class="user"></span><span class="message"></span>
                <span class="time"></span>
            </li>
            <li class="control" style="display: none">
                <span class="user"></span>&nbsp;<span class="message"></span>
                <span class="time"></span>
            </li>
        </ul>
    </div>
    <div id="input">
        <form><input type="text" id="message"/></form>
    </div>
</div>
<script src='/jquery.min.js'></script>
<script src='/date.js'></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/client.js"></script>
</body>
</html>